body {
    background-image: url("../Photos/1992547.jpg");
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 10px;
}

button:hover, #answers li {
    cursor: pointer;
}

#intro {
    text-align: center;
    margin: auto;
    font-size: 28px;
    width: 60%;
}

#intro h3 {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

#start {
    margin: 20px auto;
    font-size: 25px;
    background-color: darkgray;
}

#replay {
    margin: 20px auto;
    font-size: 25px;
    background-color: darkgray
}

#question-content {
    width: 500px;
    font-size: 20px;
    margin: auto;
}

#question {
    font-weight: bold;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

#answers {
    padding: 0;
    margin: auto;
}

#answers li {
    border: 1px solid grey;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    color: black;
    list-style: none;
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
}

#answers li:hover {
    opacity: 80%;
}

.hidden {
    visibility: hidden;
    display: none;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

#highScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

#viewHighScores:hover {
    cursor: pointer;
}